<html>
  <body>
    <h1>Hi {{sponsorName}}!</h1>
    <p>You've been invited to sponsor <strong>{{bundleName}}</strong>.</p>
    <a href="{{link}}">View Bundle</a>
    <p><small>Link expires: {{expiresAt}}</small></p>
  </body>
</html>